@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Voorbeelden tag helpers</h1>
    <ul>
        <li>
            <a asp-action="VoorbeeldRouteId" asp-controller="TagHelperVoorbeeld" asp-route-index="9">Link met route id 9</a>
        </li>

    </ul>
</div>
