

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<h3>Dit is Partial view voorbeeld 1</h3>
<p>Deze partial view heeft geen @@model</p>